html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    max-height: 700px;
}
body{
    position: relative;
    background-color: lightgoldenrodyellow;
}
#headerBar{
    background-color: mistyrose;
    text-align: center;
    position: absolute;
    height: 100px;
    width: 100%;
}
#exitButton{
    position: absolute;
    top: 20px;
    right: 5px;
    height: 50px;
    opacity: 1;

    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    border: 5px solid rgb(250, 176, 168);
    border-radius: 20px;
    background-color: rgb(224,255,255);
    outline: none;
}
#exitButton:hover{
    cursor: pointer;
    background-color: rgb(159, 247, 247);
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    line-height: 0.1;
}
h2{
    text-align: center;
    font-weight: bold;
    line-height: 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
button{
    z-index: 2;
    position: absolute;
    top: 160px;
    width: 5.5%;

    cursor: pointer;
    outline: none;
    opacity: 1;
    border: 0;
    background-color: grey;
}
#player1{
    z-index: 2;
    position:absolute;
    top: 130px;
    left: 100px;

    font-weight: bold;
    font-size: 35px;
    font-family: "Comic Sans MS", cursive, sans-serif;

}
#player2{
    z-index: 2;
    position: absolute;
    top: 130px;
    right: 70px;

    font-weight: bold;
    font-size: 35px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#firstPlayerDisplay{
    z-index: 3;
    position:absolute;
    top: 230px;
    left: 330px;
    width: 600px;
    height: 200px;
    background-color: rgb(159, 191, 224);

    border: 15px white solid;
    border-radius: 20px;
    opacity: 1;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#firstPlayer{
    text-align: center;
}
#playerWonDisplay{
    z-index: 3;
    position:absolute;
    top: 10px;
    left: 280px;
    width: 700px;
    height: 150px;
    background-color: rgb(159, 191, 224);
    line-height: 0.1;

    border: 15px white solid;
    border-radius: 20px;
    opacity: 1;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.extraText{
    text-align: center;
}
button:hover{
    opacity: 1;
}
#buttonSlot1{
    left: 340px;
}
#buttonSlot2{
    left: 429px;
}
#buttonSlot3{
    left: 518px;
}
#buttonSlot4{
    left: 607px;
}
#buttonSlot5{
    left: 696px;
}
#buttonSlot6{
    left: 784px;
}
#buttonSlot7{
    left: 873px;
}
canvas{
    position: absolute;
}
#canvas {
    background: lightgoldenrodyellow;
    width: 100%;
    z-index: 1;
}
#player1Name{
    z-index: 2;
    background-color: rgb(102, 178, 255);
    border-radius: 20px;
    position: absolute;
    width: 200px;
    height: 80px;
    top: 180px;
    left: 70px;

    line-height: 2.5;
    font-size: 30px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: red;
    text-align: center;
}
#player2Name{
    z-index: 2;
    background-color: rgb(102, 178, 255);
    border-radius: 20px;
    
    position: absolute;
    width: 200px;
    height: 80px;
    top: 190px;
    right: 50px;

    line-height: 2.5;
    font-size: 30px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: yellow;
    text-align: center;
}
#lineOfSight{
    z-index: 2;
    position: absolute;
    width: 623px;
    height: 525px;
    top: 180px;
    left: 330px;

    opacity: 0.5;
}
.LOS{
    z-index:2;
    position: absolute;

    background-color: gray;
    opacity: 0.5;
}
#LOS1{
    height: 525px;
    width: 70px;
    left: 10px;
    display:none;
}
#LOS2{
    height: 525px;
    width: 70px;
    left: 99px;
    display:none;
}
#LOS3{
    height: 525px;
    width: 70px;
    left: 188px;
    display:none;
}
#LOS4{
    height: 525px;
    width: 70px;
    left: 276px;
    display:none;
}
#LOS5{
    height: 525px;
    width: 70px;
    left: 365px;
    display:none;
}
#LOS6{
    height: 525px;
    width: 70px;
    left: 454px;
    display:none;
}
#LOS7{
    height: 525px;
    width: 70px;
    left: 543px;
    display:none;
}
#hoverPiece{
    z-index: 2;
    position: absolute;
    width: 623px;
    height: 70px;
    top: 90px;
    left: 330px;
}
.hovPiece{
    z-index: 2;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 5px;  

    border: 5px solid red;
    background-color: black;
    border-radius: 30px;
}
#hoverPiece1{
    left: 15px;
    display:none;
}
#hoverPiece2{
    left: 103px;
    display:none;
}
#hoverPiece3{
    left: 193px;
    display:none;
}
#hoverPiece4{
    left: 281px;
    display:none;
}
#hoverPiece5{
    left: 370px;
    display:none;
}
#hoverPiece6{
    left: 459px;
    display:none;
}
#hoverPiece7{
    left: 548px;
    display:none;
}
#backToMenu{
    z-index: 3;
    position:absolute;
    top: 40px;
    left: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50px;

    background-color: red;
    border: 10px solid crimson;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    cursor: none;
}
#backToMenu:hover{
    background-color:crimson;
    border-color: rgb(189, 18, 53)
}
#rematch{
    z-index: 3;
    position: absolute;
    top: 40px;
    right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50px;

    background-color: yellow;
    border: 10px solid rgb(255,223,0);
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    cursor: none;
}
#rematch:hover{
    background-color: rgb(255,223,0);
    border-color: rgb(231, 200, 0);
}



